/* .center {
    text-align: center; 
    margin-top: 15%;
}

  .Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds {
    display: inline;
    margin: 10px;
    color: yellow;
  }
  
  .Clock-seconds {
    background-color: rgb(221, 165,0);
    background-color: rgba(255, 192, 0, 0.45);
   }
   */
