/* Styles used in App.js */
body {
  padding: 5%;
  background-color: rgb(5, 5, 51);
  color: yellow;
  font-family: Arial;
}

.container {
  background-image: url(chicago-shy-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.time {
  text-align: right;
  font-size: 12px;
  color: white;
  margin-top: -1%;
  position: relative;
  right: 2%;
}

.App {
  text-align: center;
  font-size: 35px;
}

.App-title {
  font-size: 30px;
  margin-top: 5%;
}

.span {
  font-size: 50px;
  font-style: italic;
  margin-top: 0%;
}

.Deadline-input {
  font-size: 15px;
  margin-bottom: 170px;
  text-align: center;
  color: black;
}

.input-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputs {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  margin-top: 5%;
  margin-bottom: 2%;
  /* margin-left: 2px; */
  width: 21rem;
  padding: 0.66rem 1rem;
  margin-right: 2.22rem;
  border: 1px solid #fff;
  border-radius: 4px;
  /* font-size: 0.77rem; */
  font-weight: 800;
}

.submit {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3e779d),
    to(#65a9d7)
  );
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 10px;
  margin-left: -25px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
}
.submit:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}
.submit:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

.instructions {
  color: yellow;
  font-size: 20px;
  margin-top: 40px;
}

/* Styles used in Counter.js */
.counting {
  margin-top: 15%;
}

.Clock-days,
.Clock-hours,
.Clock-minutes,
.Clock-seconds {
  display: inline;
  margin: 10px;
  color: yellow;
  font-size: 25px;
}

.Clock-seconds {
  background-color: rgba(255, 192, 0, 0.45);
}

/* Styles used in Lower.js */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  position: absolute;
  left: 5px;
  font-size: 12px;
  grid-gap: 1em;
  background-color: rgb(5, 5, 51);
  cursor: pointer;
}

.block:hover {
  background-color: #28597a;
  color: #ccc;
}

.block:active {
  background-color: #1b435e;
}

.red {
  background-color: red;
}

.center-item {
  text-align: center;
}

.event-button {
  cursor: pointer;
  font-style: italic;
  padding: 10px;
}

.event-img {
  width: 25px;
  height: 25px;
  border-radius: 8px;
  border: 3px solid white;
  position: absolute;
  object-fit: cover;
  filter: brightness(90%);
  margin-left: -35px;
  cursor: pointer;
}

/* MEDIA QUERY 1 */
@media only screen and (max-width: 640px) {
  .container {
    background-image: url("ChicagoSkyline-11.jpg");
    /* width: 100%; */
  }

  .time {
    font-size: 9px;
  }

  .App-title {
    font-size: 25px;
  }

  .span {
    font-size: 40px;
  }

  .Clock-days,
  .Clock-hours,
  .Clock-minutes,
  .Clock-seconds {
    display: inline;
    margin: 10px;
    color: yellow;
    font-size: 20px;
  }

  .inputs {
    width: 15rem;
  }

  .instructions {
    font-size: 14px;
    margin-top: 100px;
  }

  .wrapper {
    font-size: 9px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .event-img {
    width: 18px;
    height: 18px;
  }
}

/* MEDIA QUERY 2 */
@media screen and (max-width: 320px) {
  .container {
    width: 320px;
  }
}
