/* Styles used in App.js */
body {
  /* text-align: center; */
  padding: 5%;
  background-color: rgb(5, 5, 51);
  /* background-color: white; */
  color: yellow;
  font-family: Arial;
  /* background-image: url(chicago-shy-2.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
}

.container {
  background-image: url(chicago-shy-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.time {
  text-align: right;
  font-size: 12px;
  color: white;
  margin-top: -1%;
  position: relative;
  right: 2%;
}

.App {
  text-align: center;
  font-size: 35px;
}

.App-title {
  /* text-align: top; */
  font-size: 30px;
  margin-top: 5%;
}

.span {
  font-size: 50px;
  font-style: italic;
  margin-top: 0%;
}

.Deadline-input {
  font-size: 15px;
  margin-bottom: 170px;
  text-align: center;
  color: black;
}

.inputs {
  text-align: center;
  font-size: 12px;
  margin-top: 2%;
  margin-bottom: 25%;
  /* margin-left: 2px; */
  width: 21rem;
  padding: 0.66rem 1rem;
  margin-right: 2.22rem;
  border: 1px solid #fff;
  border-radius: 4px;
  /* font-size: 0.77rem; */
  font-weight: 500;
}

.submit {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3e779d),
    to(#65a9d7)
  );
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 10px;
  margin-left: 3px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
}
.submit:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}
.submit:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

.instructions {
  color: yellow;
  font-size: 20px;
  margin-top: 40px;
}

/* Styles used in Counter.js */
.counting {
  margin-top: 15%;
}

.Clock-days,
.Clock-hours,
.Clock-minutes,
.Clock-seconds {
  display: inline;
  margin: 10px;
  color: yellow;
  font-size: 25px;
}

.Clock-seconds {
  /* background-color: rgb(221, 165, 0); */
  background-color: rgba(255, 192, 0, 0.45);
}

/* Styles used in Lower.js */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  position: absolute;
  top: 1032px;
  left: 5px;
  /* grid-column-gap: 1em;
  grid-row-gap: 1em; */
  font-size: 12px;
  grid-gap: 1em;
  background-color: rgb(5, 5, 51);
  cursor: pointer;
}

/* .block:defined {
  background-color: red;
} */

/* .block:visited {
  background-color: red;
} */

.block:hover {
  background-color: #28597a;
  color: #ccc;
}

.block:active {
  background-color: #1b435e;
}

.red {
  background-color: red;
}

.center-item {
  text-align: center;
}

.event-button {
  cursor: pointer;
  font-style: italic;
  padding: 10px;
}

.event-img {
  width: 25px;
  height: 25px;
  border-radius: 8px;
  border: 3px solid white;
  position: absolute;
  object-fit: cover;
  filter: brightness(90%);
  margin-left: -35px;
  cursor: pointer;
}
